

plotly==5.10.0
geopandas==0.14.3
pandas==2.2.3
folium===0.17.0
numpy==2.1.0
shapely==2.0.2
SQLAlchemy==1.4.41 
matplotlib==3.6.1
geopy==2.2.0
osgeo==0.0.1
fiona==1.10b2
regex==2024.5.15
flask==3.1.0
glob2==0.7
request2==0.2
pydeck==0.7.1
regex==2022.9.13
Pillow==9.2.0
pybase64==1.2.3
osmnx==1.2.2
networkx==2.8.7
python-time==0.3.0
scikit-learn==1.1.2
s3fs==2022.8.2
datetime==5.4
harvesine==2.7.0
jsons==1.6.3
random=0.0.1
python-math==0.0.1
python-csv==0.0.13
pyproj==3.7.0